<br />
<div class="container" id="preprocessing">
  <div ng-if="loading">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
  </div>
	<div layout="row">
		<div layout="row" flex>
			<div flex=60 layout="column" layout-margin>
        <div ui-grid="selectedFilesGridOptions" ui-grid-selection class="tinyGrid"></div>
			  <div layout="column" align="center">
			    <md-button md-no-ink class="md-primary" style="width:200px;" ng-click="openFilesExplorer('selectfolders')">
			     	Select Folders
			    </md-button>
			    <md-button md-no-ink class="md-primary" style="width:200px;" ng-click="removeSelected()">
          			Remove Selected
        	    </md-button>
        	    <md-button md-no-ink class="md-primary" style="width:200px;" ng-click="removeAll()">
          			Clear All
         	    </md-button>
			  </div>
			</div>

			<div flex layout-margin>
				<!-- deskewing-->
        <div layout="row" layout-align="space-around center">
          <md-checkbox aria-label="deskew" ng-model="selectedItem.deskew.deskew">
            Deskew
          </md-checkbox>
          <md-checkbox aria-label="deskew" ng-model="selectedItem.deskew.keepDeskew" ng-show="selectedItem.deskew.deskew">
            Keep Deskewed Files
          </md-checkbox>
        </div>
        <div layout="row" layout-align="space-around center" ng-show="selectedItem.deskew.deskew">
            <div layout="row" layout-align="space-between center" layout-padding>
              <span>Angle</span>
              <input ng-model="selectedItem.deskew.angle">
            </div>
            <div layout="row" layout-align="space-between center" layout-padding>
              <span>Background</span>
              <input ng-model="selectedItem.deskew.threshold">
            </div>
        </div>
        <div layout="row" layout-align="space-around center" ng-show="selectedItem.deskew.deskew">
          <div>Background: {{ selectedItem.deskew.suggestedThreshold }}</div>
          <div>Standard deviation: {{ selectedItem.deskew.suggestedStdDev }}</div>
        </div>
        <div layout="row" layout-align="space-around center" ng-show="selectedItem.deskew.deskew">
          <div layout="row" layout-align="space-between center">
            <span>Pixel Unit</span>
            <input ng-model="selectedItem.deskew.pixelUnit">
          </div>
          <div layout="row" layout-align="space-between center" layout-padding>
            <span>Pixel Width</span>
            <input ng-model="selectedItem.deskew.pixelWidth">
          </div>
        </div>
        <div layout="row" layout-align="space-around center" ng-show="selectedItem.deskew.deskew">
          <div layout="row" layout-align="space-between center" layout-padding>
            <span>Pixel Height</span>
            <input ng-model="selectedItem.deskew.pixelHeight">
          </div>
          <div layout="row" layout-align="space-between center" layout-padding>
            <span>Voxel Depth</span>
            <input ng-model="selectedItem.deskew.voxelDepth">
          </div>
        </div>

        <md-divider ></md-divider>
        <!-- centering-->
        <div layout="row" layout-align="space-around center">
          <md-checkbox aria-label="center" ng-model="selectedItem.center.center" ng-disabled="true">
            Center & Average
          </md-checkbox>
          <md-checkbox aria-label="center" ng-model="selectedItem.center.keepCenter" ng-show="selectedItem.center.center">
            Keep Files
          </md-checkbox>
        </div>
        <md-divider ></md-divider>
        <!-- Combine-->
        <div layout="row" layout-align="space-around center">
          <md-checkbox aria-label="combine" ng-model="prepConfig.combine.combine">
            Combine
          </md-checkbox>
          <div ng-show="prepConfig.combine.combine"> Drag to change order in combined stack</div>  
        </div>
        <div ng-if="prepConfig.combine.combine" id="combineOrder">
          <br />
          <ul class="sortable-row" as-sortable="dragControlListeners" 
              data-ng-model="prepConfig.combine.order">
             <li ng-repeat="item in prepConfig.combine.order" as-sortable-item>
                <div data-as-sortable-item-handle>
                  <span>{{ item }}</span>
                </div>
             </li>
          </ul>
        </div>

        

        <md-divider ></md-divider>
        <br />
        <div layout="row" layout-align="space-between center">
          <label>Output</label>
          <input type="text" ng-model="prepConfig.output" style="width: 70%"/>
          <md-button md-no-ink class="md-primary" ng-click="openFilesExplorer('selectoutput')">Select</md-button>
        </div>

			</div>
		</div>
	</div>
	<div layout="row" layout-align="center">
	     <md-button class="md-raised md-primary" ng-click="submit()">Submit</md-button>
	</div>
</div>