<br />
<!-- Page Content -->
<div class="container">

<!-- Intro Content -->
<div class="row" id="What">
    <div class="col-md-7 google-slide">
        <iframe 
            src="https://docs.google.com/presentation/d/1nQXe45Z9ANSGBQbVOdo0BhJF6jtMviodJViSt_Q4FiE/embed?start=false&loop=false&delayms=3000" 
            frameborder="0" width="1800" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
                Your browser does not support iframes
        </iframe>
    </div>
    <div class="col-md-5">
        <h2>About Microvolution Portal</h2>
        <p>The details about how to use the portal is available in <a href="#/faq"> FAQs</a>.</p>
        <p>The Microvolution portal uses Coesra template and Strudel-web technology</p>
          <p>Please <a href='#/contact'>contact us</a> if you wants to know more about The Microvolution portal.</p>
    </div>
    <br />
    <div class="col-md-4">
        <h2>Contact Details</h2>
        <p>
            ACRF Cancer Biology Imaging Facility, <br />
            Institute for Molecular Bioscience Level 6N, <br />
            306 Carmody Road Building 80, <br />
            University of Queensland, <br />
            St Lucia, Queensland 4072, Australia
        </p>
        <p><i class="fa fa-envelope-o"></i>
            <abbr title="Email">E</abbr>: <a href="mailto:microscopes@imb.uq.edu.au">microscopes@imb.uq.edu.au</a>
        </p>
        <p><i class="fa fa-clock-o"></i>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li>
                <a href="https://twitter.com/IMBmicroscopy"><img src="images/twitter.png" alt="twitter" class="alignnone size-full wp-image-653"/></a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->


