<br />
<!-- Page Content -->
<div class="container">

<!-- Intro Content -->
<div class="row" id="What">
    <div class="col-md-7 google-slide">
        <iframe 
            src="https://docs.google.com/presentation/d/1DnY04HGF4nEfxMyLZtlL1GFaGdCoEGO21IqBzIqqtJY/embed?start=false&loop=false&delayms=3000" 
            frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
            Your browser does not support iframes
        </iframe>
    </div>
    <div class="col-md-5">
        <h2>About Microvolution Portal</h2>
        <p>The details about how to use the portal is available in <a href="#/faq"> FAQs</a>.</p>
        <p>The Microvolution portal uses Coesra template and Strudel-web technology</p>
          <p>Please <a href='#/contact'>contact us</a> if you wants to know more about The Microvolution portal.</p>
    </div>
</div>
<!-- /.row -->


