<div class="row">
  <div class="medium-6 columns">
    <a href="#" class="action-item action-item--phone">
      334 <strong>52618</strong>
    </a>
    <a href="#" class="action-item action-item--web">
      uq.edu.au
    </a>
    <a href="#" class="action-item action-item--external">
      External website link
    </a>
  </div>
  <div class="medium-6 columns">
    <a href="#" class="action-item action-item--email">
      email.address@uq.edu.au
    </a>
    <a href="#" class="action-item action-item--download">
      <span class="action-item__label">Download the</span> 2017 UQ Study Guides
    </a>
    <a href="#" class="action-item">
      <span class="action-item__icon icon icon-anchor"></span>Custom icon link
    </a>
  </div>
</div>
<h2>.action-item--shaded</h2>
<div class="row">
  <div class="medium-6 columns">
    <a href="#" class="action-item action-item--shaded action-item--phone">
      334 <strong>52618</strong>
    </a>
    <a href="#" class="action-item action-item--shaded action-item--web">
      uq.edu.au
    </a>
    <a href="#" class="action-item action-item--shaded action-item--external">
      External website link
    </a>
  </div>
  <div class="medium-6 columns">
    <a href="#" class="action-item action-item--shaded action-item--email">
      email.address@uq.edu.au
    </a>
    <a href="#" class="action-item action-item--shaded action-item--download">
      <span class="action-item__label">Download the</span> 2017 UQ Study Guides
    </a>
    <a href="#" class="action-item action-item--shaded">
      <span class="action-item__icon icon icon-anchor"></span>Custom icon link
    </a>
  </div>
</div>
<h2>.action-item--primary</h2>
<div class="row">
  <div class="medium-6 columns">
    <a href="#" class="action-item action-item--primary action-item--phone">
      334 <strong>52618</strong>
    </a>
    <a href="#" class="action-item action-item--primary action-item--web">
      uq.edu.au
    </a>
    <a href="#" class="action-item action-item--primary action-item--external">
      External website link
    </a>
  </div>
  <div class="medium-6 columns">
    <a href="#" class="action-item action-item--primary action-item--email">
      email.address@uq.edu.au
    </a>
    <a href="#" class="action-item action-item--primary action-item--download">
      <span class="action-item__label">Download the</span> 2017 UQ Study Guides
    </a>
    <a href="#" class="action-item action-item--primary">
      <span class="action-item__icon icon icon-anchor"></span>Custom icon link
    </a>
  </div>
</div>
