<div class="article-compact">
  <div class="article">
    <h3 class="article__title"><a href="#">Launching Australia into space</a></h3>
    <span class="article__publish-date">10 August 2015</span> |
  </div>
</div>

<div class="article-compact">
  <div class="article article--has-image">
    <div class="article__wrapper">
      <div class="article__media">
        <div class="article__teaser-image article__teaser-image--round">
          <a href="#">
            <img src="http://lorempixel.com/600/300/sports/" alt="">
          </a>
        </div>
      </div>
      <div class="article__content" data-equalizer-watch>
        <h3 class="article__title"><a href="#">Launching Australia into space</a></h3>
        <span class="article__publish-date">10 August 2015</span>
      </div>
    </div>
  </div>
</div>
