<div class="project-page">
  <article class="project">
    <header class="project__header">
      <h1 class="project__title">Project title</h1>

      <div class="project__meta">
        <div class="project__funding-source">Australian Grants Council</div>
        <span class="project__start-date">mm/yyyy</span> - <span class="project__end-date">mm/yyyy</span>
      </div>
      <div class="project__research-area">term, term, term</div>
    </header>
    <section class="project__content">
      <div class="project__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis id dolor quis bibendum. Donec egestas
          quis erat id egestas. Fusce ultricies purus id ornare sagittis.</p>
      </div>
    </section>
  </article>
</div>
