<!-- List of teams displayed as teasers -->

<div class="team-teaser">
  <div class="team">
    <h2 class="team__name"><a href="/webservices-team">Web Services</a></h2>
    <div class="team__phone">+61 7 3365 1234</div>
    <div class="team__email"><a href="mailto:webservices@uq.edu.au">webservices@uq.edu.au</a></div>
    <div class="team__location">Level 3, Prentice building (43) [<a href="#">map</a>]</div>
  </div>
  <div class="team">
    <h2 class="team__name"><a href="/webservices-team">Web Services</a></h2>
    <div class="team__phone">+61 7 3365 1234</div>
    <div class="team__email"><a href="mailto:webservices@uq.edu.au">webservices@uq.edu.au</a></div>
    <div class="team__location">Level 3, Prentice building (43) [<a href="#">map</a>]</div>
  </div>
</div>
