<!DOCTYPE html>
<html lang="en" ng-app="strudelWeb" class="no-js" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>IMB Image Processing Portal</title>
        <!-- Bootstrap Core CSS -->
        <link href="style/nimrod/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="style/nimrod/modern-business.css" rel="stylesheet">
        <link href="style/nimrod/nimrod-style.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body ng-controller="AppCtrl">
        <div class="container clearfix" layout="row" ng-hide="toolbarHidden">
            <div class="logo">
                <a href="https://rcc.uq.edu.au" rel="nofollow">
                    <img alt="RCC" src="images/rcc-logo.jpg"/>
                </a>
            </div>
            <div class="banner-text">
                IMB Image Processing Portal
            </div>
        </div>

        <!-- Navigation -->
        <nav class="navbar main-menu" role="navigation" ng-hide="toolbarHidden">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                   <!-- <a class="navbar-brand" href="index.html">Collaborative Environment for Scholarly Research and Analysis</a>-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
                        </li>
                        <li>
                            <a href="#/about">About</a>
                        </li>
                        <li>
                            <a href="#/contact">Contact</a>
                        </li>
                        <li><a href="#/faq">FAQ</a></li>
                        <li><a href="#/accesspolicy">Policy</a></li>
                        <li>
                            <a id="login" href="javascript:void(0);" 
                                ng-disabled="loginButtonDisabled('wiener')" 
                                ng-click="startLogin('wiener')">
                                Login
                            </a>
                        </li>
                        <li><a id="joblistmgr" href="#/job-list">JobList</a></li>
                        <li><a id="jobsubmitmgr" href="#/job-submit">JobSubmit</a></li>
                        <li><a id="logout-btn" ng-click="doSignout()">Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Header Carousel -->
        <header id="myCarousel" class="carousel slide" ng-hide="toolbarHidden">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active carousel-share">
                    <img src="images/microscopy/facilities-hero1.jpg" alt="One"/>
                </div>
                <div class="item carousel-share">
                    <img src="images/microscopy/facilities-hero2.jpg" alt="Two"/>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </header>

    <div ng-view></div>
    <div ng-include="'style/nimrod/footer.html'"></div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000
    })
    </script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css"></link>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="landingpage/landingpage.js"></script>
    <script src="partials/partials.js"></script>
    <script src="job-list/job-list.js"></script>
    <script src="job-submit/job-submit.js"></script>
    <script src="partials/faqdirective.js"></script>
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
</body>
</html>

