<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]> <html class="lte-ie7 lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]> <html class="lte-ie8 lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if lte IE 9]> <html class="lte-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr" ng-app="microvolution">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<!-- Bootstrap Core CSS -->
<link href="style/nimrod/bootstrap.min.css" rel="stylesheet">
<!-- Custom Fonts -->
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">


<link rel="shortcut icon" href="https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>IMB Image Processing Portal - The University of Queensland, Australia</title>
<!--link type="text/css" rel="stylesheet" href="https://static.uq.net.au/v1/fonts/Roboto/roboto.css" media="all" />
<style type="text/css" media="all">
@import url("https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/css/styles.css?olt1wp");
</style>
<style type="text/css" media="print">
@import url("https://web-publishing.uq.edu.au/sites/all/themes/custom/uq_standard/css/print.css?olt1wp");
</style-->

<style type="text/css" media="all">
@import url("style/uq/css/styles.css");
</style>
<style type="text/css" media="print">
@import url("style/uq/css/print.css");
</style>

<!--link href="style/modal.less" rel="stylesheet/less" type="text/css" /-->
<link href="app.css" rel="stylesheet" type="text/css" />

</head>
<body ng-controller="AppCtrl" class="html front page-home" >
<div class="skip-link"> <a href="#main-menu" class="element-invisible element-focusable">Skip to menu</a> <a href="#main-content" class="element-invisible element-focusable">Skip to content</a> <a href="#site-footer" class="element-invisible element-focusable">Skip to footer</a> </div>
<div class="site-header">
  <div class="site-header__global-menu">
    <div class="global-menu hide-for-small-only">
      <ul class="global-menu__list">
        <li class="global-menu__item"><a href="https://www.uq.edu.au/" accesskey="1" class="global-menu__link">UQ Home</a></li>
        <li class="global-menu__item"><a href="https://www.uq.edu.au/contacts/" accesskey="2" class="global-menu__link">Contacts</a></li>
        <li class="global-menu__item"><a href="https://www.uq.edu.au/study/" accesskey="3" class="global-menu__link">Study</a></li>
        <li class="global-menu__item"><a href="https://www.uq.edu.au/maps/" accesskey="4" class="global-menu__link">Maps</a></li>
        <li class="global-menu__item"><a href="https://www.uq.edu.au/news/" accesskey="5" class="global-menu__link">News</a></li>
        <li class="global-menu__item"><a href="https://www.uq.edu.au/events/" accesskey="6" class="global-menu__link">Events</a></li>
        <li class="global-menu__item"><a href="https://www.library.uq.edu.au/" accesskey="7" class="global-menu__link">Library</a></li>
        <li class="global-menu__item"><a href="https://www.uq.edu.au/giving/" class="global-menu__link">Give now</a></li>
        <li class="global-menu__item"><a href="https://my.uq.edu.au/" accesskey="8" class="global-menu__link">my.UQ</a></li>
      </ul>
    </div>
  </div>
  <div class="site-header__content">
    <div class="columns medium-11 large-8"> <a href="https://www.uq.edu.au/" title="UQ Homepage" class="uq-logo">The University of Queensland</a>
      <h2 class="site-title has-2-lines"><a class="site-title__link" rel="home" title="IMB Image Processing Portal" href="https://imb.uq.edu.au/">IMB Image Processing Portal<br>
        </a></h2>
    </div>
  </div>
</div>
  <div class="navigation">
    <div class="region region-navigation">
      <div id="block-system-main-menu" class="block block-system block-menu main-menu">
        <ul class="menu" id="main-menu">
          <li class="leaf"><a id="home-btn" href="#" title="portal" class="menu__link active">Portal</a></li>
          <li class="leaf"><a id="filesmanagermgr" href="#/files-manager" title="filesmanager" class="menu__link">FilesManager</a></li>
          <li class="leaf"><a id="convertermgr" href="#/converter" title="converter" class="menu__link">Converter</a></li>
          <li class="leaf"><a id="prepmgr" href="#/preprocessing" title="prepmgr" class="menu__link">Preprocessing</a></li>
          <li class="leaf"><a id="jobsubmitmgr" href="#/job-submit" title="jobsubmit" class="menu__link">Deconvolution</a></li>
          <li class="leaf"><a id="joblistmgr" href="#/job-list" title="joblist" class="menu__link">JobList</a></li>

          <li class="leaf"><a id="contact-btn" href="#/contact" title="about" class="menu__link">Contact</a></li>
          <li class="leaf"><a id="faq-btn" href="http://support.localhost/" target="_blank" title="support" class="menu__link">Support</a></li>
          <li class="leaf"><a id="login" href="javascript:void(0);" 
                                  ng-disabled="loginButtonDisabled('wiener')" 
                                  ng-click="startLogin('wiener')" class="menu__link">Sign in</a></li>
          <li class="leaf"><a id="logout-btn" ng-click="doSignout()" title="signout" class="menu__link">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  

<div class="page" ng-view></div>
<div class="page">
  <div class="page__content"> 
    
    <!-- About panel END --> 
    <!-- partners panel  START -->
    <div class="panel-separator"></div>
    <div class="section--centered section">
      <div class="section__container">
        <div class="section__header">
          <h2 class="section__title">Partners</h2>
        </div>
        <div class="section__content">
          <p style="text-align:center">
            <a href="https://rcc.uq.edu.au/">
              <img alt="Research Computing Centre - UQ" height="120" src="images/rcc-logo.jpg" width="200" />
            </a> 
            <a href="https://imb.uq.edu.au/">
              <img alt="IMB" height="120" src="images/IMB-logo.png" width="200" style="background-color:black;" />
            </a>
            <a href="https://www.tern.org.au/">
              <img alt="TERN" height="120" src="images/tern-logo.png" width="200" />
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- partners panel END -->   
  </div>
</div>

<div id="site-footer" class="site-footer">
  <div class="site-footer__content">
    <div class="row">
      <div class="columns large-9 medium-8"> <span class="footer__copyright">&copy; The University of Queensland</span>
        <div class="footer__contact"> Enquiries: <a href="tel:+61733651111" class="footer__link footer__enquiries-phone">+61 7 3365 1111</a> &nbsp; | &nbsp; <a href="https://uq.edu.au/contacts" class="footer__link footer__contacts-link">Contact directory</a> </div>
        <div class="footer__meta"> <abbr title="Australian Business Number">ABN</abbr>: 63 942 912 684 &nbsp; | &nbsp; <abbr title="Commonwealth Register of Institutions and Courses for Overseas Students">CRICOS</abbr> Provider No: <a class="footer__link cricos__link" href="https://www.uq.edu.au/about/cricos-link" rel="external">00025B</a> </div>
      </div>
      <div class="columns large-3 medium-4">
        <div class="site-footer__emergency-contact"> <strong class="site-footer__sub-title">Emergency</strong><br>
          Phone: <a href="tel:+61733653333" class="footer__link footer__emergency-phone">3365 3333</a> </div>
      </div>
    </div>
    <div class="row">
      <div class="site-footer__footer">
        <div class="columns large-9 medium-8"> <a href="https://www.uq.edu.au/terms-of-use/" rel="external" class="footer__link footer__terms-link">Privacy &amp; Terms of use</a> &nbsp; | &nbsp; <a href="https://www.uq.edu.au/feedback?r=https%3A//engage.uq.edu.au/" rel="external" class="footer__link footer__feedback-link">Feedback</a> </div>
        <div class="columns large-3 medium-4"> Last update 21st May 2019 Release 1.0 </div>
      </div>
    </div>
  </div>
</div>


<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css"></link>
<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>

<script src="bower_components/ng-sortable/dist/ng-sortable.min.js"></script>
<link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.min.css">
<link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.style.min.css">

<script src="app.js"></script>
<script src="services/services.module.js"></script>
<script src="services/services.service.js"></script>
<script src="job-list/job-list.js"></script>
<script src="files-manager/files-manager.js"></script>
<script src="job-submit/job-submit.js"></script>
<script src="preprocessing/preprocessing.js"></script>
<script src="converter/converter.js"></script>
<script src="filesexplorer/filesexplorer.module.js"></script>
<script src="filesexplorer/filesexplorer.component.js"></script>

<script src="landingpage/landingpage.js"></script>
<script src="partials/partials.js"></script>
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
</body>
</html>
