// Video Filter (https://www.drupal.org/project/video_filter)

.video-filter {
  // Make video-filter behave as flex-video for responsive by default
  @include flex-video-container();
  padding-bottom: $flex-video-widescreen-padding-bottom; // Apply .widescreen
  padding-top: 0; // Apply .vimeo

  // Counter the fact that Video Filter adds the same class twice.
  .video-filter {
    position: absolute;
    padding: 0;
  }
}
