<h2>Top divider</h2>
<p>Used on wrapping elements like <code>div</code>. Can be used in conjunction with other wrapping classes like <code>.pane</code></p>

<div class="brand-device brand-device--divider-top">
  <p>Brand device horizontal divider at the top of the wrapping element.</p>
  <p><code>brand-device brand-device--divider-top</code></p>
</div>

<div class="brand-device brand-device--divider-bottom">
  <p>Brand device horizontal divider at the top of the wrapping element.</p>
  <p><code>brand-device brand-device--divider-bottom</code></p>
</div>

<div class="brand-device brand-device--divider-bottom pane pane--shaded">
  <p>Brand device horizontal divider at the top of the wrapping element. Used with <code>pane pane--shaded</code></p>
  <p><code>brand-device brand-device--divider-bottom</code></p>
</div>

<h2>2 column divider</h2>
<p>Simple vertical divider for 2 column block-grid: <code>brand-device--divider-block-grid-2</code></p>

<ul class="small-block-grid-1 medium-block-grid-2 brand-device brand-device--divider-block-grid-2">
  <li>Learn the science and acquire the technical skills to care for patients, and prevent, diagnose and treat oral
    diseases and abnormalities.
  </li>
  <li>Be workforce ready when you graduate with Honours, because you'll complete a full year of clinical placement as
    part of your AQF Level 8 program. The BDSc (Hons) is also the only undergraduate dental program at AQF Level 8 in
    Australia.
  </li>
  <li>Develop knowledge about general practice in dentistry, orthodontics, paediatric dentistry, periodontics,
    prosthodontics, oral medicine, oral and maxillofacial surgery, and public health.
  </li>
  <li>Enjoy the benefits of smaller cohorts and dedicated, specialist teachers in a learning environment where
    participation and achievement are key.
  </li>
</ul>

<h2>Timeline</h2>
<p>A wrapper (such as Section) with the <code>brand-device--background</code> class gets a vertical line down the middle.</p>
<p>A <code>ul.medium-block-grid-2</code> gets the <code>brand-device--timeline</code> class to make each <code>li</code> attach to the timeline with an alternating stub.</p>

<div class="section section--centered brand-device brand-device--background section--double-spacing">
  <div class="section__container">
    <div class="section__content">
      <ul class="small-block-grid-1 medium-block-grid-2 program__features brand-device--timeline">
        <li>
          <h3>Join the most established dental school in Queensland</h3>

          <p>The University of Queensland School of Dentistry has been educating students since 1937 and is one of the
            most respected research schools in Australia.</p>
        </li>
        <li>
          <h3>Learn in Australia's biggest and most advanced tertiary oral health facility</h3>

          <p>The state-of-the-art UQ Oral Health Centre was opened in 2015 and has purpose-built clinical simulation
            areas, laboratories, lecture theatres, and workshop spaces, and hosts specialists in research, education,
            training and patient care.</p>
        </li>
        <li>
          <img src="http://lorempixel.com/480/240/people/2" alt=""/>
          <blockquote>"In my work as an Oral Health Therapist, the young Indigenous children I work with inspire me
            every day. Their smiles motivate me to reach my greatest potential."
            <cite><strong><a href="http://health.uq.edu.au/dentistry-graduate-contributes-her-culture">Kirrily
              Phillips</a></strong>, Oral Health Therapist, UQ School of Dentistry graduate</cite></blockquote>
        </li>
        <li>
          <h3>Be job ready when you graduate</h3>

          <p>During 34 weeks of full-time clinical practice, you'll apply and further develop your diagnostic and
            clinical skills, and establish your professional independence with experienced practitioners to guide and
            advise you.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
