<div class="award">
  <div class="award__title">Title of award</div>
  <div class="award__year">2016</div>
  <div class="award__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in convallis dui. Duis iaculis eget velit ac gravida. Nam ac ullamcorper libero, ut venenatis orci. Nunc nec venenatis libero, lacinia fermentum mi.</div>
</div>

<div class="award award--teaser">
  <div class="award__title"><a href="#">Title of award</a></div>
  <div class="award__year">2016</div>
</div>
