<div class="row">
  <div class="large-8 columns">
    <div class="asset__description">
      <p>Lorem ipsum dolar sit amet ut a cum a parturient nibh ullamcorper condimentum ut bibendum phasellus laoreet accumsan arcu at risus eleifend parturient mus.</p>
    </div>
    <div class="asset__type">
      Form
    </div>
    <div class="asset__last-updated">
      Updated 4th March 2016 9.00am
    </div>
    <div class="asset__owner">
      Owned by <a href="#">Team</a>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="asset__asset-list">
      <a href="#" class="action-item action-item--download">
        <span class="action-item__label">Download the</span> File
      </a>
      <a href="#" class="action-item action-item--external">
        External website link
      </a>
    </div>
  </div>
</div>
