<!-- Uses Foundation 5 Drop down buttons: http://foundation.zurb.com/docs/components/dropdown_buttons.html -->

<div class="dropdown-links drop-down-list">
  <a aria-controls="dropdown-73" data-dropdown="dropdown-73"
      class="button button--white dropdown" aria-expanded="false">Choose an option</a>

  <div class="item-list">
    <ul aria-hidden="true" 0="data-dropdown-content" class="f-dropdown" id="dropdown-73"
        style="position: absolute; left: -99999px; top: 55px;">
      <li class="first"><a href="#">Option 1</a></li>
      <li><a href="#">Option 2</a></li>
      <li><a href="#">Option 3</a></li>
    </ul>
  </div>
</div>
