<!-- Format of publication citations fed from eSpace. Markup dictated by eSpace system. -->
<span class="citation">
	<a class="author_id_link" title="Browse by Author ID for Angus, Daniel" href="http://espace.library.uq.edu.au/list/author_id/73392/">Angus, Daniel</a> (<span class="citation_date">2009</span>).
	<a class="citation_title" title="Click to view Book Chapter: Niching for ant colony optimisation" href="http://espace.library.uq.edu.au/view/UQ:217896">Niching for ant colony optimisation</a>. In
	<span class="citation_contributor">
		<span class="citation_contributor">Andrew Lewis</span>,
		<span class="citation_contributor">Sanaz Mostaghim</span> and
		<span class="citation_contributor">Marcus Randall</span>
	</span> (Ed.),
	<i>
		<span class="citation_book_title">Biologically-Inspired Optimisation Methods: Parallel Algorithms, Systems and Applications</span>
	</i>
	(pp. <span class="citation_start_page">165</span>-<span class="citation_end_page">188</span>)
	<span class="citation_place_of_publication">Berlin, Germany</span>:<span class="citation_publisher">Springer</span>.
	doi:<span class="citation_doi">10.1007/978-3-642-01262-4</span>
</span>
