<div class="hero-banner" style="background-image: url('//lorempixel.com/1920/1080/nature/1');">
  <div class="hero-banner__container">
	  <div class="hero-banner__content">
		  <h1 class="hero-banner__title">Page title with optimal length</h1>
	  </div>
  </div>
</div>

<div class="hero-banner hero-banner--dark-tint" style="background-image: url('//lorempixel.com/1920/1080/nature/2');">
  <div class="hero-banner__container">
    <div class="hero-banner__content">
      <h1 class="hero-banner__title">Page title set over image with longer title to test wrapping behaviour</h1>
    </div>
  </div>
</div>

<div class="hero-banner hero-banner--light-tint" style="background-image: url('//lorempixel.com/1920/1080/nature/2');">
  <div class="hero-banner__container">
    <div class="hero-banner__content">
      <h1 class="hero-banner__title">Page title set over image with longer title to test wrapping behaviour</h1>
    </div>
  </div>
</div>

<!-- Hero banner with content -->
<!-- Basic Page, Structured page -->
<div class="hero-banner" style="background-image: url('//lorempixel.com/1920/1080/nature/1');">
  <div class="hero-banner__container">
    <div class="hero-banner__content">
      <h1 class="hero-banner__title">Page title with optimal length</h1>
      <div class="hero-banner__body">
        <p class="page__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate sapien id posuere commodo. Etiam nulla magna, pretium vel lacus vel, semper gravida ipsum. Pellentesque aliquam lacus vitae nibh sodales sodales in eget urna. Sed eu ipsum tincidunt lectus consectetur sodales vel quis ipsum. </p>
      </div>
    </div>
  </div>
</div>

<!-- Article -->
<div class="hero-banner" style="background-image: url('//lorempixel.com/1920/1080/nature/1');">
  <div class="hero-banner__container">
    <div class="hero-banner__content">
      <h1 class="hero-banner__title">Article title with optimal length</h1>
      <div class="hero-banner__body">
        <span class="article__category">Science over coffee</span>
        <span class="article__publish-date">21 August, 2015</span>
      </div>
    </div>
  </div>
</div>

<!-- Event -->
<div class="hero-banner" style="background-image: url('//lorempixel.com/1920/1080/nature/1');">
  <div class="hero-banner__container">
    <div class="hero-banner__content">
      <h1 class="hero-banner__title">Event title with optimal length</h1>
      <div class="hero-banner__body">
        <span class="event__start-date">21 August, 2015</span>
        <span class="event__location">St Lucia campus</span>
        <a href="#" class="button event__register-link">Register</a>
      </div>
    </div>
  </div>
</div>
