<div class="site-header">

  <!-- build:include global-menu/global-menu.html -->
  <!-- /build -->

  <div class="site-header__content">
    <div class="columns large-8">
      <a class="uq-logo" title="UQ Homepage" href="http://www.uq.edu.au/">The University of Queensland</a>
      <h2 class="site-title"><a class="site-title__link" rel="home" title="UQ Homepage" href="http://site.uq.edu.au">Site Title</a></h2>
    </div>

    <!-- build:include site-search/site-search.html -->
    <!-- /build -->

  </div>
</div>

<hr />

<div class="site-header">

  <!-- build:include global-menu/global-menu.html -->
  <!-- /build -->

  <div class="site-header__content">
    <div class="columns large-8">
      <a class="uq-logo" title="UQ Homepage" href="http://www.uq.edu.au/">The University of Queensland</a>
      <h2 class="site-title"><a class="site-title__link" rel="home" title="UQ Homepage" href="http://site.uq.edu.au">Faculty of Engineering, Architecture &amp; Information Technology</a></h2>
    </div>

    <!-- build:include site-search/site-search.html -->
    <!-- /build -->

  </div>
</div>
