<form accept-charset="UTF-8" class="search-form" method="post" action="/">
  <div class="row medium-collapse large-collapse collapse">
    <div class="columns medium-6 medium-offset-1 large-4 large-offset-3">
      <label for="search-input" class="element-invisible">Search <span title="This field is required."
                                                                       class="form-required">*</span></label>
      <input type="text" value="" name="wrapper" id="search-input" placeholder="Search.."
             class="search-form__search-field form-text required">
    </div>
    <div class="columns medium-4 large-2">
      <input type="submit" value="Search" name="op" id="search-submit"
             class="search-form__submit button postfix form-submit">
    </div>
  </div>
</form>
