<md-dialog aria-label="Deletion confirmation">
  <form ng-cloak>
    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
        <h3>Are you sure ? </h3>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h3>The following items will be deleted permanently once confirmed.</h3>
        <ul>
          <li ng-repeat="file in selectedItems">
            {{ file.path }}
          </li>
        </ul>
      </div>
    </md-dialog-content>
  </form>
  <md-dialog-actions layout="row">
      <md-button ng-click="answer('no')" md-autofocus>
       No
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('yes')">
        Confirm
      </md-button>
    </md-dialog-actions>
</md-dialog>