//
// Global Menu
//

.site-header__global-menu {
  @include grid-row();
}

.global-menu {
  float: right;
}

.global-menu__list {
  @include inline-list();
}

.global-menu__item {

}

.global-menu__link, .global-menu__link:visited {
  font-size: 0.65rem;
  margin-right: 0.25rem;
  color: $site-global-menu-link-color;
  text-transform: uppercase;
  font-weight: 500;

  &:hover {
    color: white;
  }
}



