<!-- Structured page : Table of contents -->
<div class="structured-page structured-page--toc">
  <div class="content__header">
    <h1 class="page__title">Table of contents</h1>
  </div>
  <div class="structured-page__intro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et consequat nibh, vitae volutpat velit. Nam eget
      venenatis tortor, ut faucibus sem. Etiam sed vulputate urna, in faucibus velit. Suspendisse volutpat laoreet nisi,
      ac fringilla elit pretium ut.</p>
  </div>
  <div class="structured-page__index">
    <div class="menu-block menu-block--one-column">
      <ol>
        <li class="first"><a href="#0">Step 1</a></li>
        <li><a href="#1">Step 2</a></li>
        <li class="last"><a href="#2">Step 3</a></li>
      </ol>
    </div>
  </div>
  <div class="structured-page__content">
    <div class="structured-page__step-1">
      <h2 class="structured-page__step-title"><a name="0"></a> 1. Step 1</h2>

      <div class="structured-page__step-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor eros dui, vitae iaculis leo ornare
          eget. Etiam tristique lobortis ligula non mattis. Ut dapibus libero neque, vel tincidunt nunc tempus eget.
          Quisque sodales odio mauris, et rhoncus est condimentum ac. Nam pellentesque luctus gravida.</p>
      </div>
    </div>
    <div class="structured-page__step-2">
      <h2 class="structured-page__step-title"><a name="1"></a> 2. Step 2</h2>
      <div class="structured-page__step-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor eros dui, vitae iaculis leo ornare
          eget. Etiam tristique lobortis ligula non mattis. Ut dapibus libero neque, vel tincidunt nunc tempus eget.
          Quisque sodales odio mauris, et rhoncus est condimentum ac. Nam pellentesque luctus gravida.</p>
      </div>
    </div>
    <div class="structured-page__step-3">
      <h2 class="structured-page__step-title"><a name="2"></a> 3. Step 3</h2>
      <div class="structured-page__step-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor eros dui, vitae iaculis leo ornare
          eget. Etiam tristique lobortis ligula non mattis. Ut dapibus libero neque, vel tincidunt nunc tempus eget.
          Quisque sodales odio mauris, et rhoncus est condimentum ac. Nam pellentesque luctus gravida.</p>
      </div>
    </div>
  </div>
</div>

<!-- Structured page : Step by step -->
<div class="structured-page structured-page--steps">
  <div class="content__header">
    <h1 class="page__title">Step by step</h1>
  </div>
  <div class="structured-page__intro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et consequat nibh, vitae volutpat velit. Nam eget
      venenatis tortor, ut faucibus sem. Etiam sed vulputate urna, in faucibus velit. Suspendisse volutpat laoreet nisi,
      ac fringilla elit pretium ut.</p>
  </div>
  <div class="structured-page__index">
    <div class="menu-block menu-block--two-column">
      <div class="row">
        <div class="columns medium-6">
          <ol>
            <li class="active-trail active first"><a href="/node/*/0">Step 1</a></li>
            <li><a href="/node/*/1">Step 2</a></li>
          </ol>
        </div>
        <div class="columns medium-6">
          <ol start="3">
            <li class="first last"><a href="/node/*/2">Step 3</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="structured-page__content">
    <div class="structured-page__step-1">
      <h2 class="structured-page__step-title"><a name="0"></a> 1. Step 1</h2>

      <div class="structured-page__step-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor eros dui, vitae iaculis leo ornare
          eget. Etiam tristique lobortis ligula non mattis. Ut dapibus libero neque, vel tincidunt nunc tempus eget.
          Quisque sodales odio mauris, et rhoncus est condimentum ac. Nam pellentesque luctus gravida.</p>
      </div>
    </div>
    <div class="previous-next-links">
      <div class="row">
        <div class="columns medium-6">
        </div>

        <div class="columns medium-6">
          <a class="link-next" href="/node/*/1">Step 2 <span class="link-next__description">Next</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Structured page : Tabs -->
<div class="structured-page structured-page--tabs">
  <div class="content__header">
    <h1 class="page__title">Tabs</h1>
  </div>
  <div class="structured-page__intro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et consequat nibh, vitae volutpat velit. Nam eget
      venenatis tortor, ut faucibus sem. Etiam sed vulputate urna, in faucibus velit. Suspendisse volutpat laoreet nisi,
      ac fringilla elit pretium ut.</p>
  </div>
  <div class="structured-page__content">
    [ TABS ]
  </div>
</div>

<!-- Structured page : Tabs -->
<div class="structured-page structured-page--accordion">
  <div class="content__header">
    <h1 class="page__title">Accordion</h1>
  </div>
  <div class="structured-page__intro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et consequat nibh, vitae volutpat velit. Nam eget
      venenatis tortor, ut faucibus sem. Etiam sed vulputate urna, in faucibus velit. Suspendisse volutpat laoreet nisi,
      ac fringilla elit pretium ut.</p>
  </div>
  <div class="structured-page__content">
    [ ACCORDION ]
  </div>
</div>
