<div class="person-page">
  <div class="person">
    <h1 class="person__display-name">Display Name</h1>
    <div class="person__postnominals">AO, PhD, MSc</div>

    <div class="person__photo">
      <img src="#" alt="{DISPLAY_NAME}"/>
    </div>
    <div class="person__position">
      <div class="person__position-title">Position title</div>
      <div class="person__position-organisation">Organisational unit</div>
    </div>
    <div class="person__phone">+61 7 3365 1234</div>
    <div class="person__fax">+61 7 3365 4321</div>
    <div class="person__email"><a href="mailto:f.surname@uq.edu.au">f.surname@uq.edu.au</a></div>
    <div class="person__biography">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis id dolor quis bibendum. Donec egestas quis
        erat id egestas. Fusce ultricies purus id ornare sagittis. Vestibulum vehicula congue est sit amet efficitur.
        Donec imperdiet justo non urna egestas finibus. Integer porttitor vitae odio finibus convallis. Donec egestas
        pellentesque suscipit. Aenean porta elementum purus, sed luctus neque pellentesque quis.</p>
    </div>
  </div>
</div>
