<div class="catalogue row">
  <ul class="catalogue__index medium-5 large-4 columns">
    <li class="index__item">
      <a href="#" class="index-item__link">
        Service area one
      </a>
    </li>
    <li class="index__item">
      <a href="#" class="index-item__link active">
        Service area two
      </a>
    </li>
    <li class="index__item">
      <a href="#" class="index-item__link">
        Service area three
      </a>
    </li>
    <li class="index__item">
      <a href="#" class="index-item__link">
        Service area one
        <span class="index-item__summary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit integer porttitor lobortis vehicula.
        </span>
      </a>
    </li>
    <li class="index__item">
      <a href="#" class="index-item__link">
        Service area two
        <span class="index-item__summary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit integer porttitor lobortis vehicula.
        </span>
      </a>
    </li>
    <li class="index__item">
      <a href="#" class="index-item__link">
        Service area three
        <span class="index-item__summary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit integer porttitor lobortis vehicula.
        </span>
      </a>
    </li>
  </ul>
  <div class="catalogue__page medium-7 large-8 columns">
    <div class="catalogue__header">
      <h1 class="catalogue__title">Service area two</h1>

      <div class="catalogue__summary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan rhoncus tellus, at facilisis mi
        aliquam quis. Aliquam sed mauris libero. Proin auctor lectus nulla, ut consequat urna congue volutpat. Nam
        semper diam nec quam sollicitudin, ut convallis lacus faucibus. Maecenas fringilla viverra risus id aliquam.
      </div>
      <div class="catalogue__search">
        <!-- SEARCH MARKUP -->
      </div>
      <div class="catalogue__filter">
        <!-- FILTER MARKUP -->
      </div>
    </div>
    <div class="catalogue__body">
      <div class="catalogue__list">
        <div class="catalogue-list__title">A section</div>
        <div class="catalogue__item">
          <a href="#" class="item__link">
            <h2 class="item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          </a>
        </div>
        <div class="catalogue__item">
          <a href="#" class="item__link">
            <h2 class="item__title"> Sed eleifend ac arcu a laoreet</h2>
          </a>
        </div>
        <div class="catalogue__item">
          <a href="#" class="item__link">
            <h2 class="item__title">Nam pulvinar faucibus ex</h2>
          </a>
        </div>
        <div class="catalogue__item">
          <a href="#" class="item__link">
            <h2 class="item__title">Vestibulum rutrum nec tellus quis commodo elit id lacus rhoncus malesuada eget eu
              velit finibus ipsum non sodales arcu non</h2>
          </a>
        </div>
      </div>
      <div class="catalogue__list">
        <div class="catalogue-list__title">Asset section</div>
        <div class="catalogue__item">
          <a href="#" class="item__link">
            <h2 class="item__title">Quisque placerat lacus sit amet odio suscipit gravida pulvinar</h2>

            <div class="item__meta">
              <span class="item__meta--description">Nullam porta rhoncus neque, ac eleifend odio gravida quis eget
                tellus ut lacus molestie dignissim at ut purus</span>
            </div>
          </a>
        </div>
        <div class="catalogue__item catalogue__item--asset">
          <a href="#" class="item__link">
            <h2 class="item__title">A second catalogue list item</h2>

            <div class="item__meta">
              <span class="item-meta__tag">Category tag</span>
              <span class="item-meta__file-info">31mb .ppt</span>
            </div>
          </a>
        </div>
        <div class="catalogue__item catalogue__item--asset">
          <a href="#" class="item__link">
            <h2 class="item__title">A second catalogue list item</h2>

            <div class="item__meta">
              <span class="item-meta__tag">Category tag</span>
              <span class="item-meta__file-info">235kb .doc</span>
            </div>
          </a>
        </div>
        <div class="catalogue__item catalogue__item--asset">
          <a href="#" class="item__link">
            <h2 class="item__title">A second catalogue list item</h2>

            <div class="item__meta">
              <span class="item-meta__tag">Category tag</span>
              <span class="item-meta__file-info">4mb .pdf</span>
            </div>
          </a>
        </div>
      </div>
      <div class="catalogue__list catalogue__list--children">
        <div class="catalogue__item catalogue__item--child">
          <a href="#" class="item__link">
            <h2 class="item__title">Sub-service A</h2>
          </a>
        </div>
        <div class="catalogue__item catalogue__item--child">
          <a href="#" class="item__link">
            <h2 class="item__title">Sub-service A</h2>
          </a>
        </div>
      </div>
    </div>
    <div class="catalogue__footer">
      <!-- FOOTER MARKUP -->
    </div>
  </div>
</div>
