<!-- List of projects displayed in teaser format -->

<div class="project-teaser">
  <div class="project project--has-image">
    <div class="column medium-4">
      <div class="project__image">
        <img src="#" alt="{DISPLAY_NAME}"/>
      </div>
    </div>
    <div class="column medium-8">
      <h3 class="project__title"><a href="#">Title</a></h3>
      (<span class="project__start-date">mm/yyyy</span> - <span class="project__end-date">mm/yyyy</span>)

      <span class="project__funding-source">Funding Source</span>
    </div>
  </div>
</div>
