<div style="background-image:url(http://lorempixel.com/1920/1080/nature)"
     class="section--no-top-spacing section--dark-tint section--light-text section--centered content-column-block section--background-image section">
  <div class="section__container">
    <div class="section__content">

      <div class="layout-region__column-one columns medium-4">
        <div class="light-palette content-column-block__left">
          <div class="field-items">
            <div class="field-item even">
              <div data-equalizer-watch="" class="pane">
                <div class="content">
                  <div class="pane__title">
                    General Enquiries
                  </div>
                  <p>Ph: +61&nbsp;7&nbsp;3365 5342<br>
                    Fax: +61 7&nbsp;3365 5533<br><a
                            href="mailto:mabs.reception@uq.edu.au">mbs.reception@uq.edu.au</a></p>

                  <p><strong>Domestic student enquiries</strong></p>

                  <p>ph: +61 7&nbsp;3346 4922&nbsp;<br><a href="mailto:mbs@uq.edu.au">mbs@uq.edu.au</a></p>

                  <p><strong>International future student enquiries</strong></p>

                  <p>Freecall: 1800 671 980 (from Australia)<br>
                    Ph: +61 3 8676 7004 (from outside Australia)<br>
                    Enquire online:&nbsp;<a href="mailto:study@uq.edu.au">study@uq.edu.au</a></p>
                </div>
              </div>
            </div>
            <div class="field-item odd">
              <div data-equalizer-watch="" class="pane">
                <div class="content">
                  <div class="pane__title">Faculty of Medicine and Biomedical Sciences</div>
                  <p>The University of Queensland<br>
                    Level 6, Oral Health Centre (Building)<br>
                    Herston Road, Herston, QLD, 4006<br>
                    Australia</p>

                  <p>Deliveries:&nbsp;Loading dock access via Bramston Tce</p>

                  <p><a class="button button--primary" href="http://mbs.uq.edu.au/#modal-two">Subscribe to our
                    newsletter+</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="layout-region__column-two columns medium-4 ">
        <div class="light-palette content-column-block__middle">
          <div class="field-items">
            <div class="field-item even">
              <div data-equalizer-watch="" class="pane">
                <div class="content">
                  <div class="pane__title">
                    Schools
                  </div>
                  <p><a href="http://www.uq.edu.au/sbms/">School of Biomedical
                    Sciences</a><br><a href="http://www.som.uq.edu.au/">School of Medicine</a><br><a
                          href="http://www.sph.uq.edu.au/">School of Public&nbsp;Health</a></p>
                </div>
              </div>
            </div>
            <div class="field-item odd">
              <div data-equalizer-watch="" class="pane">
                <div class="content">
                  <div class="pane__title">
                    Research Centres
                  </div>
                  <p>Child Health Research Centre (CHRC)<br><a
                          href="http://www.uqccr.uq.edu.au/">UQ Centre for Clinical Research (UQCCR)</a><br><a
                          href="http://www.uq.edu.au/cipdd/">Centre for Integrated Preclinical Drug Development
                    (CIPDD)</a><br><a href="http://www.di.uq.edu.au/">The University of Queensland Diamantina
                    Institute (UQDI)</a><br><a href="http://research.mater.org.au/">Mater Research Institute - The
                    University of Queensland</a>&nbsp;(MRI - UQ)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-region__column-three columns medium-4 end">
      <div class="light-palette content-column-block__right">
        <div class="field-items">
          <div class="field-item even">
            <div data-equalizer-watch="" class="pane">
              <div class="content">
                <div class="pane__title">
                  Clinical Schools
                </div>
                <p><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/greenslopes-clinical-school.aspx">Greenslopes
                  Clinical School</a><br><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/ipswich-clinical-school.aspx">Ipswich
                  Clinical School</a><br><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/mater-clinical-school.aspx">Mater
                  Clinical School</a><br><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/pa-southside-clinical-school.aspx">PA-Southside
                  Clinical School</a><br><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/northside-clinical-school.aspx">Northside
                  Clinical School</a><br><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/royal-brisbane-clinical-school.aspx">Royal
                  Brisbane Clinical School</a><br><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/rural-clinical-school.aspx">Rural
                  Clinical School</a><br><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/sunshine-coast-clinical-school.aspx">Sunshine
                  Coast Clinical School</a><br><a target="_blank"
                                                  href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/unitingcare-health-clinical-school.aspx">UnitingCare
                  Health Clinical School</a></p>
              </div>
            </div>
          </div>
          <div class="field-item odd">
            <div data-equalizer-watch="" class="pane">
              <div class="content">
                <div class="pane__title">
                  International
                </div>
                <p><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/brunei-clinical-school.aspx">Brunei
                  Clinical School (Brunei)</a><br><a
                        href="http://www.som.uq.edu.au/about/campuses-and-teaching-sites/clinical-schools/ochsner-clinical-school.aspx">Ochsner
                  Clinical School (USA)</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
