<!-- List of people displayed in teaser format -->

<div class="person-teaser">
  <div class="person person--has-photo">
    <div class="column medium-4">
      <div class="person__photo">
        <img src="#" alt="{DISPLAY_NAME}"/>
      </div>
    </div>
    <div class="column medium-8">
      <h3 class="person__display-name"><a href="#">Display Name</a></h3>

      <div class="person__position">
        <span class="person__position-title">Position title</span>
        <span class="person__position-organisation">Organisation</span>
      </div>
    </div>
  </div>
</div>

<div class="person-teaser">
  <div class="person">
    <h3 class="person__display-name"><a href="#">Display Name</a></h3>>
    <div class="person__position">
      <span class="person__position-title">Position title</span>
      <span class="person__position-organisation">Organisation</span>
    </div>
  </div>
</div>
