<ul class="medium-block-grid-2">
  <li><a href="#" class="button">Button</a></li>
  <li>Default and primary button style. Should be used in most cases. <code>.button</code></li>
  <li><a href="#" class="button button--secondary">Button secondary</a></li>
  <li>Secondary button style. Used when there are multiple buttons and only one is the primary action. <code>.button.button--secondary</code>
  </li>
  <li><a href="#" class="button button--tertiary">Button tertiary</a></li>
  <li>Tertiary button style. Also used when there are multiple buttons and only one is the primary action. <code>.button.button--tertiary</code>
  </li>
  <li><a href="#" class="button button--outline">Button outline</a></li>
  <li>Outline button style. Provides an alternative style that is less prominent on the page. Useful when there are
    multiple buttons down a long page. <code>.button.button--outline</code></li>
  <li><a href="#" class="button button--secondary button--outline">Button secondary outline</a></li>
  <li>Secondary and outline button style. Outline and secondary styles can be combined. <code>.button.button--outline.button--secondary</code>
  </li>
  <li><a href="#" class="button button--tertiary button--outline">Button tertiary outline</a></li>
  <li>Tertiary and outline button style. Outline and tertiary styles can be combined. <code>.button.button--outline.button--tertiary</code>
  </li>
</ul>
<h2>Buttons on dark tint</h2>
<p>Outline buttons will not work on dark-tint components.</p>
<div class="pane pane--dark-tint">
  <a href="#" class="button">Button</a>
  <a href="#" class="button button--secondary">Button secondary</a>
  <a href="#" class="button button--tertiary">Button tertiary</a>
</div>
<h2>White buttons</h2>
<ul class="medium-block-grid-2">
  <li>
    <div class="pane pane--dark-tint"><a href="#" class="button button--white">Button white</a></div>
  </li>
  <li>White button style. Intended for use only on dark backgrounds where contrast is sufficient. They will not work on
    light
    backgrounds. <code>.button.button--white</code></li>
  <li>
    <div class="pane pane--dark-tint"><a href="#" class="button button--white button--outline">Button white outline</a>
    </div>
  </li>
  <li>White outline button style. Alternative style for white buttons for when there are multiple buttons and only one
    is the primary action. <code>.button.button--white</code></li>
</ul>
