<div class="category-grid-menu row">
  <div class="columns large-3 medium-6"><a href="#" class="category-grid-menu__link">Architecture &amp; Urban Planning</a></div>
  <div class="columns large-3 medium-6"><a href="#" class="category-grid-menu__link">Arts, Communications &amp; Society</a></div>
  <div class="columns large-3 medium-6"><a href="#" class="category-grid-menu__link">Business &amp; Economics</a></div>
  <div class="columns large-3 medium-6"><a href="#" class="category-grid-menu__link">Education</a></div>
  <div class="columns large-3 medium-6"><a href="#" class="category-grid-menu__link">Engineering &amp; Information Technology</a></div>
  <div class="columns large-3 medium-6"><a href="#" class="category-grid-menu__link">Environment &amp; Agriculture</a></div>
  <div class="columns large-3 medium-6"><a href="#" class="category-grid-menu__link">Health &amp; Behavioural Sciences</a></div>
  <div class="columns large-3 medium-6"><a href="#" class="category-grid-menu__link">Law</a></div>
  <div class="columns large-3 large-push-3 medium-6"><a href="#" class="category-grid-menu__link">Medicine</a></div>
  <div class="columns large-3 large-pull-3 medium-6"><a href="#" class="category-grid-menu__link">Science</a></div>
</div>
