<div class="page-feedback-form">
  <a class="page-feedback-form__title icon icon-comment icon--prefix" href="#">
    See something that needs editing? Let us know. </a>

  <div class="page-feedback-form__content content" style="display: none;">
    <form accept-charset="UTF-8" id="feedback-form-entityform-edit-form" method="post"
          action="/apply/undergraduate/international/choose-your-program"
          class="entityform entitytype-feedback_form-form">

      <label>What were you doing? <span title="This field is required." class="form-required">*</span></label>
      <input type="text" maxlength="255" size="60" value="" class="text-full form-text required">


      <label>What went wrong? <span title="This field is required." class="form-required">*</span></label>
      <input type="text" maxlength="255" size="60" value="" class="text-full form-text required">

      <input type="submit" class="form-submit" value="Send Feedback" name="op" id="edit-submit">
    </form>
  </div>
</div>