<h2>This is a really long title but I want it to break here <span class="wbr wbr--xlarge-up">on extra large screens so that it displays a certain way</span></h2>

<code>&lt;h2&gt;This is a really long title but I want it to break here &lt;span class="wbr wbr--xlarge-up"&gt;on extra large screens so that it displays a certain way&lt;/span&gt;&lt;/h2&gt;</code>

<hr>

<h2>This is a really long title but I want it to break here <span class="wbr wbr--large-up">on large screens so that it displays a certain way</span></h2>

<code>&lt;h2&gt;This is a really long title but I want it to break here &lt;span class="wbr wbr--large-up"&gt;on large screens so that it displays a certain way&lt;/span&gt;&lt;/h2&gt;</code>

<hr>

<h2>This is a really long title but I want it to break here <span class="wbr wbr--medium-up">on medium screens so that it displays a certain way</span></h2>

<code>&lt;h2&gt;This is a really long title but I want it to break here &lt;span class="wbr wbr--medium-up"&gt;on medium screens so that it displays a certain way&lt;/span&gt;&lt;/h2&gt;</code>
