<div class="article-page">
  <div class="row">
    <div class="article">
      <div class="article__header">
        <h1 class="article__title">Launching Australia into space</h1>
        <span class="article__publish-date">10 August 2015</span> |
        <span class="article__category">In <a href="#">Engineering and Technology</a></span>
      </div>
      <div class="article__content">
        <div class="article__body">
          <p class="article__lead">Launching satellites into space could soon be easier and cheaper than ever
            before, thanks to research at <a href="#">The University of Queensland</a>.</p>

          <p><a href="#">UQ’s Centre for Hypersonics</a> is planning a three-stage transformational space
            project called SPARTAN, designed to deliver satellites weighing up to 500kgs into orbit and
            allowing them to be monitored nationally or internationally.</p>
          <figure>
            <img src="http://lorempixel.com/600/300/sports/" alt="" title="" class="">
            <figcaption>A 3D concept model of the SPARTAN aircraft capable of
              launching satellites into orbit
              for a fraction of the current cost and lorem ipsum dolar sit amet
            </figcaption>
          </figure>

          <p>Chair of Hypersonic Propulsion Professor Michael Smart said the program aimed to take advantage of
            dramatic
            growth in the small satellite market.</p>

          <p>“This is a once-in-a-generation opportunity for Australia’s hypersonic industry to join the space
            community,”
            Professor Smart said.</p>

          <p>“Currently, there are about 1265 satellites orbiting in space, but the cost to launch a single
            satellite is
            astronomical.</p>

          <p>“Our project aim is to reduce this cost and make it more economically viable for smaller nations
            and
            organisations to launch their own satellites and monitor their own space activity through the
            development of a
            reusable space launch system.” </p>

          <p>Stage one of the system consists of an Austral Launch Vehicle (ALV), a reusable rocket booster that
            lifts the
            upper stages of the rocket to scramjet take-over speed of Mach five, before flying back to base
            using wings and
            propellers.</p>

          <blockquote>If successful, SPARTAN has the potential to change the current paradigm of tossing away
            spacecraft after each launch
          </blockquote>

          <p>Partnering with Australian-based company <a href="#">Heliaq Advanced Engineering</a>, the team is
            developing sub-scale versions of the ALV and SPARTAN as technology demonstrators.</p>

          <p>“This test flight will focus on the slow speed handling to prove that this prototype can actually
            work.</p>
        </div>

        <div class="article__footer">
          <div class="article__meta">
            <a href="#" class="article-meta--tag">Science</a>
            <a href="#" class="article-meta--tag">Hypersonics</a>
            <a href="#" class="article-meta--tag">Engineering + Technology</a>
          </div>
          <div class="article__actions">
            <a href="#"><i class="icon icon-share-square-o"></i></a>
            <a href="#"><i class="icon icon-link"></i></a>
            <a href="#"><i class="icon icon-bookmark-o"></i></a>
          </div>
        </div>
        <div class="article__contacts">
          <ul class="medium-block-grid-2 small-block-grid-1">
            <li class="article__contact-card">
              <div class="contact-card__contact-type">Media
                Contact
              </div>
              <div class="contact-card__details">
                <div class="contact-card__name"><strong>Madelene
                  Flanagan</strong>, <br/>Communications Officer
                </div>
                <div class="contact-card__phone"><i
                        class="icon icon-phone"></i> &nbsp;&nbsp;3345 0606
                </div>
                <div class="contact-card__email"><i
                        class="icon icon-envelope-o"></i> &nbsp;&nbsp;<a href="#">m.flanagan@uq.edu.au</a></div>
              </div>
            </li>
            <li class="article__contact-card">
              <div class="contact-card__contact-type">Media
                Contact
              </div>
              <div class="contact-card__details">
                <div class="contact-card__name"><strong>Caroline Bird</strong>,<br/>Communications Officer
                </div>
                <div class="contact-card__phone"><i
                        class="icon icon-phone"></i> &nbsp;&nbsp;3345 1234
                </div>
                <div class="contact-card__email"><i
                        class="icon icon-envelope-o"></i> &nbsp;&nbsp;<a href="#">caroline.bird@uq.edu.au</a></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="article__related">
          <div class="related-tabs__menu">
            <ul>
              <li class="active"><a href="#">More from UQ News</a></li>
              <li><a href="#">From The Conversation</a></li>
            </ul>
          </div>
          <div class="related-tabs__content">
            <div class="tab1">
              <p>MORE FROM UQ NEWS</p>
            </div>
            <div class="tab2">
              <p>THE CONVERSATION</p>
            </div>
          </div>
        </div>
      </div>
      <div class="article__actions visible-for-large-up">
        <p>B</p>
        <p>S</p>
        <p>L</p>
      </div>
    </div>
  </div>
</div>
