<div class="main-menu">
    <ul class="menu">
        <li class="first expanded active-trail"><a class="active-trail active" title="" href="/study">Study</a>
            <ul class="menu">
                <li class="first leaf"><a href="/high-school">High School</a></li>
                <li class="leaf"><a href="/non-school-leavers">Non-school Leavers</a></li>
                <li class="leaf"><a href="/parents">Parents</a></li>
                <li class="last leaf"><a href="/careers">Careers &amp; Employability</a></li>
            </ul>
        </li>
        <li class="expanded"><a title="" href="/life">Life</a>
            <ul class="menu">
                <li class="first leaf"><a href="/why-choose-uq">Why choose UQ</a></li>
                <li class="leaf"><a href="/this-is-uq">This is UQ</a></li>
                <li class="leaf"><a href="/living-in-brisbane">Living in Brisbane</a></li>
                <li class="collapsed"><a href="/campuses">Campuses</a></li>
                <li class="leaf"><a href="/other-sites">Teaching and research sites</a></li>
                <li class="leaf"><a href="/campus-life">Campus life</a></li>
                <li class="collapsed"><a href="/student-support">Student support</a></li>
                <li class="last collapsed"><a href="/getting-prepared">Getting prepared</a></li>
            </ul>
        </li>
        <li class="collapsed"><a href="/events">Events</a></li>
        <li class="expanded"><a title="" href="/apply">Applying</a>
            <ul class="menu">
                <li class="first collapsed"><a href="/apply/undergraduate">Applying for undergraduate study</a></li>
                <li class="collapsed"><a href="/apply/honours">Applying for honours study</a></li>
                <li class="collapsed"><a href="/apply/postgraduate">Applying for postgraduate coursework study</a></li>
                <li class="collapsed"><a href="/apply/cross-institutional">Applying for cross-institutional study</a>
                </li>
                <li class="collapsed"><a href="/apply/non-award">Applying for non-award study</a></li>
                <li class="collapsed"><a href="/apply/doctor-of-medicine">Applying for UQ's Doctor of Medicine</a></li>
                <li class="collapsed"><a href="/applying/english-language-proficiency-requirements">English language
                    proficiency
                    requirements</a></li>
                <li class="leaf"><a href="/apply/international/financial-aid">Financial aid</a></li>
                <li class="collapsed"><a href="/apply/financial-assistance">Financial assistance</a></li>
                <li class="collapsed"><a href="/apply/credit-and-exemptions-previous-study">Credit and exemptions for
                    previous
                    study</a></li>
                <li class="leaf"><a href="/apply/international/credit-and-exemptions-previous-study">Credit and
                    exemptions for
                    previous study</a></li>
                <li class="leaf"><a href="/apply/student-contributions-tuition-fees">Student contributions and tuition
                    fees</a>
                </li>
                <li class="leaf"><a href="/apply/international/tuition-fees">Tuition fees</a></li>
                <li class="last leaf"><a href="/apply/deferring-your-QTAC-offer">Deferring your QTAC offer</a></li>
            </ul>
        </li>
        <li class="last leaf"><a href="/ask">Ask</a></li>
    </ul>
</div>

<!-- Bottom is the proposed structure for the menu-bar component -->


<div class="main-menu">
    <div class="main-menu__mobile-menu">
        <a href="#" class="main-menu__mobile-menu-link" title="Menu"><i class="icon icon-bars" title="Menu"></i></a>
    </div>

    <ul class="menu">
        <li class="first expanded active-trail">
            <a class="menu__link active-trail active" title="" href="/study">Study</a>
            <a class="menu__dropdown-link" title="" href="#"></a>
            <ul class="menu__dropdown">
                <li class="first leaf"><a href="/high-school">High School</a></li>
                <li class="leaf"><a href="/non-school-leavers">Non-school Leavers</a>
                </li>
                <li class="leaf"><a href="/parents">Parents</a></li>
                <li class="last leaf"><a href="/careers">Careers &amp; Employability</a>
                </li>
            </ul>
        </li>
      <li class="">
        <a class="menu__link active-trail active" title="" href="/study">Study</a>

      </li>
      <li class="expanded">
        <a class="menu__link active-trail active" title="" href="/study">Study</a>
        <a class="menu__dropdown-link" title="" href="#"></a>
        <ul class="menu__dropdown">
          <li class="first leaf"><a href="/high-school">High School</a></li>
          <li class="leaf"><a href="/non-school-leavers">Non-school Leavers</a>
          </li>
          <li class="leaf"><a href="/parents">Parents</a></li>
          <li class="last leaf"><a href="/careers">Careers &amp; Employability</a>
          </li>
        </ul>
      </li>
    </ul>
</div>
