<div class="site-footer">
  <div class="site-footer__content">
    <div class="row">
      <div class="columns large-9 medium-8">
        <span class="footer__copyright">&copy; The University of Queensland</span>
        <div class="footer__contact">
          Enquiries: <a class="footer__link footer__enquiries-phone" href="tel:+61733651111">+61 7 3365 1111</a>
          &nbsp; | &nbsp; <a class="footer__link footer__contacts-link" href="http://uq.edu.au/contacts">Contact
          directory</a>
        </div>
        <div class="footer__meta">
          <abbr title="Australian Business Number">ABN</abbr>: 63 942 912 684 &nbsp; | &nbsp;
          <abbr title="Commonwealth Register of Institutions and Courses for Overseas Students">CRICOS</abbr>
          Provider No: <a rel="external" href="http://www.uq.edu.au/about/cricos-link"
                          class="footer__link cricos__link">00025B</a>
        </div>
      </div>
      <div class="columns large-3 medium-4">
        <div class="site-footer__emergency-contact">
          <h6 class="site-footer__sub-title">Emergency</h6>
          Phone: <a class="footer__link footer__emergency-phone" href="tel:+61733653333">3365 3333</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="site-footer__footer">
        <div class="columns large-9 medium-8">
          <a class="footer__link footer__terms-link" rel="external" href="http://www.uq.edu.au/terms-of-use/">Privacy
            &amp; Terms of use</a> &nbsp; | &nbsp;
          <a class="footer__link footer__feedback-link" rel="external" href="http://www.uq.edu.au/feedback">Feedback</a>
          &nbsp; | &nbsp; <span class="footer__last-updated">Updated: 27 Aug 2015</span>
        </div>
        <div class="columns large-3 medium-4">
          <a class="footer__link footer__logout-link" href="/user/logout">Logout</a></div>
      </div>
    </div>
  </div>
</div>
